<style >
.datatable-header {
    display: none;
}

table.dataTable thead tr {
    background-color: #3f444e;
    color: white;
}

#EstructuraModal thead tr, #CargaDatatable thead tr {
    background-color: #3f444e;
    color: white;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.ui-autocomplete {
    z-index: 215000000 !important;
}

.select2-no-results {
    display: none !important;
}



#hot_alignment .ht_master.handsontable {
    overflow: visible;
}

#hot_alignment {
    overflow-x: auto;
    display: block;
}

    #hot_alignment .wtHolder {
        width: auto !important;
        height: auto !important;
    }

.htColumnHL {
    overflow-wrap: break-word;
    writing-mode: vertical-rl;
    /*transform: scale(-1);*/
}

.tblx, .tblx th, .tblx td {
    border: 1px solid;
}

.headerTblColorPlomo {
    background-color: #55585A;
    color: white;
    border-color: #55585A;
}

    .headerTblColorPlomo th {
        border-color: #55585A !important;
    }

.colorBeige {
    background-color: #969076;
    color: white;
}

.colorGray {
    background-color: #F2F2F2;
}

.colorDark {
    background-color: #55585A;
    color: white;
}

.tblRowsHeight tr {
    line-height: 15px;
    min-height: 15px;
    height: 15px;
}

.tblRowsHeight th, td {
    padding: 5px !important;
}

.borderWhite {
    border-color: white;
}

.icon-custom-style {
    font-size: 25px !important;
    cursor: pointer !important;
}

.tab-content > .tab-pane {
    display: block !important;
    height: 0 !important;
    overflow: hidden !important;
}

    .tab-content > .tab-pane.active {
        height: auto !important;
    }

canvas {
    max-width: 720px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 1px 1px !important; /* e.g. change 8x to 4px here */
}

tr.odd {
    background-color: #ebebeb !important;
}

th.dt-center, td.dt-center {
    text-align: center;
    white-space: nowrap;
}

th.dt-left, td.dt-left {
    text-align: left;
    white-space: nowrap;
}

th.dt-right, td.dt-right {
    text-align: right;
    white-space: nowrap;
}

.center {
    text-align: center;
}

.cursor {
    cursor: pointer;
}

.btn-activo {
    background-color: #e8e8e8 !important;
    border-color: #999999 !important;
}

.botonera {
    color: ThreeDDarkShadow;
}

.maskPercent {
    text-align: right;
}

</style >
